---
layout: home
---

<div class="container-fluid">
    <div class="row">
        <div class="col-12 col-md-4 col-lg-2"></div>
        <div class="col px-0">

            <div class="hero-container">

                {% include heroProgressSwiper.html %}

                <div class="mobile-progress-container d-md-none">
                    <div class="row gx-2 gy-2">
                        <div class="col-6">
                            <div class="item featured">
                                <div class="title">No. of featured ad left to</div>
                                <div class="d-flex justify-content-between">
                                    <span class="num">75%</span>
                                    <div>
                                        <span class="num color">50</span>
                                        <span class="label">ads left</span>
                                    </div>
                                </div>
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" style="width: 25%;" aria-valuenow="25"
                                         aria-valuemin="0" aria-valuemax="100"></div>
                                </div>

                                <a href="#" class="btn btn-primary">
                                    Renew <br>
                                    Membership
                                    <i class="bi bi-caret-right-fill"></i>
                                </a>

                            </div>
                        </div>
                        <div class="col-6">
                            <div class="item boost">
                                <div class="title">No. of Boosts left</div>
                                <div class="d-flex justify-content-between">
                                    <span class="num">75%</span>
                                    <div>
                                        <span class="num color">50</span>
                                        <span class="label">ads left</span>
                                    </div>
                                </div>
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" style="width: 25%;" aria-valuenow="25"
                                         aria-valuemin="0" aria-valuemax="100"></div>
                                </div>

                                <a href="#" class="btn btn-primary">
                                    Purchase more boosts
                                    <i class="bi bi-caret-right-fill"></i>
                                </a>

                            </div>
                        </div>
                        <div class="col-6">
                            <div class="item deals">
                                <div class="title">No. of Hot Deals</div>
                                <div class="row gx-0 mx-0 mb-2">
                                    <div class="col-auto img-box">
                                        <img src="/assets/img/hotdeal.svg" alt="" class="img-fluid">
                                    </div>
                                    <div class="col d-flex flex-column justify-content-start align-items-start ps-2">
                                        <span class="num">
                                            30
                                        </span>
                                        <span class="label">
                                            ads marked as Hot deal
                                        </span>
                                    </div>
                                </div>
                                <a href="#" class="btn btn-primary">
                                    Purchase more boosts
                                    <i class="bi bi-caret-right-fill"></i>
                                </a>

                            </div>
                        </div>

                        <div class="col-6">
                            <div class="item wap">
                                <div class="title">
                                    No. of WhatsApp live chat left
                                </div>
                                <div class="d-flex justify-content-between">
                                    <span class="num">25%</span>
                                    <div>
                                        <span class="num color">30</span>
                                        <span class="label">chat left</span>
                                    </div>
                                </div>
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" style="width: 25%;" aria-valuenow="25"
                                         aria-valuemin="0" aria-valuemax="100"></div>
                                </div>

                                <a href="#" class="btn btn-primary">
                                    Purchase more boosts
                                    <i class="bi bi-caret-right-fill"></i>
                                </a>

                            </div>
                        </div>

                        <div class="col-12">
                                <div class="item voucher">
                                    <div
                                            class="d-flex justify-content-between align-items-center"
                                    >
                                        <span class="title"> Voucher Expiring! </span>
                                        <a href="#" class="btn btn-red">
                                            <img src="./assets/img/danger.svg" alt=""/>
                                            6 Days Left!</a
                                        >
                                    </div>
                                    <div class="voucher-content">
                                        <div>
                                            <div class="code">Voucher code: <span>#LPW324</span></div>
                                            <div class="price"><span>Rs. 5000</span> Remaining</div>
                                            <div class="expire">Expiring: Aug 31 2024</div>
                                        </div>
                                        <a href="#" class="btn btn-green">
                                            Redeem Now
                                            <i class="bi bi-caret-right-fill"></i>
                                        </a>
                                    </div>
                                    <a href="#" class="btn btn-primary py-2">
                                        Available Options
                                        <i class="bi bi-caret-right-fill"></i>
                                    </a>
                                </div>
                        </div>

                    </div>
                </div>

            </div>

            <div class="row mx-0">
                <div class="col-8">
                    <div class="row agent-sec-container">
                        <div class="col-8">
                            <div class="profile-info-sec row gx-0">
                                <div
                                        class="col-auto flex-column justify-content-start justify-content-center"
                                >
                                    <div class="profile-img-container">
                                        <img class="profile" src="assets/img/profile.jpg" alt=""/>
                                        <img class="edit" src="assets/img/pencil.svg" alt=""/>
                                    </div>
                                    <div class="membership">
                                        <img src="assets/img/membership.svg" alt=""/>
                                        <span> Gold </span>
                                    </div>
                                </div>
                                <div class="col info">
                                    <div class="titles">
                                        <div class="name">Hey Mahela,</div>
                                        Your Agent Score is Low!
                                    </div>

                                    <div class="desc">
                                        Increase the score to become a Platinum Agent
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="score-chart-container">
                                <div class="title">
                                    Your Agent Score
                                </div>
                                {% include agentScoreChart.html %}

                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-4"></div>
            </div>
        </div>
    </div>
</div>
