<div class="d-none d-lg-block progress-swiper-container">
    <div class="swiper progress-swiper">
        <!-- Additional required wrapper -->
        <div class="swiper-wrapper">
            <!-- Slides -->

            <div class="swiper-slide">
                <div class="progress-slider-card">
                    <div class="row mx-0 align-items-center gx-0 mb-3">
                        <div class="col-auto">
                            <div
                                    class="circle_progress"
                                    id="feratured_progress"
                            ></div>
                        </div>
                        <div class="col">
                            <p>No. of featured ad left to</p>
                            <div class="d-flex align-items-center">
                                <span class="num">60</span>
                                <span class="text ms-2">ads left</span>
                            </div>
                        </div>
                    </div>

                    <button type="button" class="btn btn-primary">
                        Renew Membership
                        <i class="bi bi-caret-right-fill"></i>
                    </button>
                </div>
            </div>

            <div class="swiper-slide boosts-slide">
                <div class="progress-slider-card">
                    <div class="row mx-0 align-items-center gx-0 mb-3">
                        <div class="col-auto">
                            <div
                                    class="circle_progress"
                                    id="boosts_left_progress"
                            ></div>
                        </div>
                        <div class="col">
                            <p>No. of Boosts left</p>
                            <div class="d-flex align-items-center">
                                <span class="num">30</span>
                                <span class="text ms-2">Boosts left</span>
                            </div>
                        </div>
                    </div>

                    <button type="button" class="btn btn-primary">
                        Renew Membership
                        <i class="bi bi-caret-right-fill"></i>
                    </button>
                </div>
            </div>

            <div class="swiper-slide hotdeal-slider">
                <div class="progress-slider-card">
                    <div class="row mx-0 align-items-center gx-0 mb-3">
                        <div class="col-auto">
                            <div class="circle_progress">
                                <img src="assets/img/hotdeal.svg" alt="" class="img-fluid">
                            </div>
                        </div>
                        <div class="col">
                            <p>No. of Hot Deals</p>
                            <div class="d-flex align-items-center">
                                <span class="num">30</span>
                                <span class="text ms-2">ads marked as Hot deal</span>
                            </div>
                        </div>
                    </div>

                    <button type="button" class="btn btn-primary">
                        Renew Membership
                        <i class="bi bi-caret-right-fill"></i>
                    </button>
                </div>
            </div>

            <div class="swiper-slide wap-slide">
                <div class="progress-slider-card">
                    <div class="row mx-0 align-items-center gx-0 mb-3">
                        <div class="col-auto">
                            <div class="circle_progress" id="wap_progress"></div>
                        </div>
                        <div class="col">
                            <p>No. of WhatsApp live chat left</p>
                            <div class="d-flex align-items-center">
                                <span class="num">30</span>
                                <span class="text ms-2">chat left</span>
                            </div>
                        </div>
                    </div>

                    <button type="button" class="btn btn-primary">
                        Renew Membership
                        <i class="bi bi-caret-right-fill"></i>
                    </button>
                </div>
            </div>

        </div>
    </div>

    <div class="swiper-button-prev hero-prev"></div>
    <div class="swiper-button-next hero-next"></div>
</div>
