<div class="update-container">
    <div class="d-flex justify-content-between align-items-center header">
        <div class="widget-title-2">
            Notifications
        </div>

        <div class="d-flex controls">
            <span class="prev-update me-1">
                <i class="bi bi-chevron-left"></i>
            </span>
                <span class="next-update">
                <i class="bi bi-chevron-right"></i>
            </span>
        </div>

    </div>

    <!-- swiper -->
    <div class="swiper update-swiper">
        <div class="swiper-wrapper">
            <div class="swiper-slide wap-slide">
                <div class="content">
                    <i class="bi bi-info-circle"></i>
                    <div class="text">
                        Activate the new Whatsapp live chat and increase your quality leads 1
                    </div>
                </div>

                <div class="buttons">
                    <a href="#" class="btn btn-primary">More details</a>
                    <a href="#" class="btn btn-light dismiss-btn">Dismiss</a>
                </div>
            </div>
            <div class="swiper-slide wap-slide">
                <div class="content">
                    <i class="bi bi-exclamation-circle"></i> 
                    <div class="text">
                        Activate the new Whatsapp live chat and increase your quality leads 2
                    </div>
                </div>

                <div class="buttons">
                    <a href="#" class="btn btn-primary">More details</a>
                    <a class="btn btn-light dismiss-btn">Dismiss</a>
                </div>
            </div>

        </div>
    </div>

    <div class="swiper-pagination update-pagination position-relative">
    </div>

</div>
