<div class="row">
  <div class="col-12 performance-chart-parent py-3 py-lg-0">
    <div class="performance-chart-container shadow">
      <div class="widget-title-1">Listing Performance Insights</div>

      <div class="d-flex justify-content-between">
        <div
          class="btn-group custom-dropdown"
          role="group"
          aria-label="Button group with nested dropdown"
        >
          <select
            class="form-select form-select-sm"
            aria-label=".form-select-sm example"
            id="listingPerfomanceDays"
          >
            <option selected value="7">Last 7 Days</option>
            <option value="30">Last 30 Days</option>
            <option value="90">Last 90 Days</option>
          </select>
          <button type="button" class="btn">
            <i class="bi bi-caret-down-fill"></i>
          </button>
        </div>
        <a class="btn btn-primary" href="#">View full report</a>
      </div>

      <div class="chart-header">
        <img src="assets/img/perfomance.svg" alt="" class="img-fluid" />
        <div>
          <div class="widget-title-2">Overall ads Performance</div>
          <span id="perfomanceMessageBox">
            <i class="bi bi-arrow-up"></i>
            <span class="text"> 37.8% from last week </span>
          </span>
        </div>
      </div>

      <div class="chart-container position-relative">
        <div
          class="d-flex justify-content-between align-items-center title-container"
        >
          <div>
            <div class="title">Views</div>
            <div class="desc">
              Numbers of times users <br />
              clicked on your listing
            </div>
          </div>
          <div class="title">
            Page <br />
            Number
          </div>
        </div>
        <div class="chart-box">
          <canvas id="myChart"></canvas>
        </div>
        <div class="chart-box-timeline">
          <canvas id="timelineChart"></canvas>
        </div>
        <div
          class="custom-legends d-flex justify-content-center flex-wrap my-3"
        >
          <div class="item">
            <span class="bg-views long"></span>No. of Views
          </div>
          <div class="item"><span class="bg-page-no long"></span>Page No</div>
          <!-- <div class="item"><span class="bg-wap"></span>Whatsapp live chat</div> -->
          <div class="item"><span class="bg-featured"></span>Upgrade ads</div>
          <!-- <div class="item"><span class="bg-hot-deal"></span>Hot Deal</div> -->
          <!-- <div class="item">
            <span class="bg-urgent-sale"></span>Urgent sale
          </div> -->
          <div class="item"><span class="boosted-ads"></span>Boosted ads</div>
        </div>
        <div class="long-legends">
          <div class="legend-item">
            <div id="whatsappColors" class="box-container"></div>
            <p>Whatsapp live chat</p>
          </div>

          <div class="legend-item">
            <div id="hotDealColors" class="box-container"></div>
            <p>Hot Deal</p>
          </div>

          <div class="legend-item">
            <div id="urgentSaleColors" class="box-container"></div>
            <p>Urgent sale</p>
          </div>

          <div class="legend-item">
            <div id="thumbnailVideoColors" class="box-container"></div>
            <p>Thumbnail Video</p>
          </div>

          <div class="legend-item">
            <div id="upgradeAdsColors" class="box-container"></div>
            <p>Upgrade ads</p>
          </div>
        </div>
      </div>

      <div class="text-end">
        <a
          href="#"
          class="btn btn-primary mt-4 d-flex d-lg-inline-flex justify-content-center align-items-center"
          data-bs-toggle="modal"
          data-bs-target="#tipsModal"
        >
          <img src="assets/img/bulpBright.svg" alt="" class="img-fluid me-2" />
          Tips to increase the leads</a
        >

        <!-- Modal -->
        <div
          class="modal fade tipsModal"
          id="tipsModal"
          tabindex="-1"
          aria-labelledby="tipsModalLabel"
          aria-hidden="true"
        >
          <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
              <div class="modal-header">
                <div>
                  <img src="assets/img/bulpBrightGreen.svg" alt="" />
                  <label class="widget-title-2" id="tipsModalLabel">
                    Tips to increase the leads
                  </label>
                </div>
                <button
                  type="button"
                  class="btn-close"
                  data-bs-dismiss="modal"
                  aria-label="Close"
                ></button>
              </div>
              <div class="modal-body">
                <ul class="list-group list-group-flush">
                  <li class="list-group-item">
                    <div>
                      <img src="assets/img/image_icon.svg" alt="" />
                    </div>
                    <p class="mb-0">
                      Upload <b>10</b> Images to increase <b>50%</b> visibility
                    </p>
                  </li>
                  <li class="list-group-item">
                    <div>
                      <img src="assets/img/whatsapp_icon.svg" alt="" />
                    </div>
                    <p class="mb-0">
                      Activate Whatsapp Live Chat & Get <b>2X</b> more view
                    </p>
                  </li>
                  <li class="list-group-item">
                    <div>
                      <img src="assets/img/hotdeal.svg" alt="" />
                    </div>
                    <p class="mb-0">
                      Activate Hot Deals & Get <b>2X</b> more view
                    </p>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
