<div class="row my-3 my-lg-4">
    <div class="col-12">
        <div class="tips-container shadow">
            <div class="d-flex justify-content-between align-items-center mb-4">
                <span class="widget-title-1">Tips to Increase Your Visibility</span>

                <div class="d-none d-md-flex controls">
                                        <span class="prev-tip me-1">
                                            <i class="bi bi-chevron-left"></i>
                                        </span>
                    <span class="next-tip">
                                        <i class="bi bi-chevron-right"></i>
                                        </span>
                </div>

            </div>

            <div class="swiper tips-swiper">
                <!-- Additional required wrapper -->
                <div class="swiper-wrapper">
                    <!-- Slides -->
                    <div class="swiper-slide slide">
                        <div>
                            <div class="img-container">
                                <img src="assets/img/whatsapp_icon.svg" alt="">
                            </div>
                            <div class="content">
                                Activate Whatsapp
                                Live Chat & Get
                                <b>2X</b>
                                more view
                            </div>
                        </div>
                        <a href="#" class="btn btn-outline-success d-inline-block text-end">Activate</a>

                    </div>
                    <div class="swiper-slide slide">
                        <div>
                            <div class="img-container">
                                <img src="assets/img/hotdeal.svg" alt="">
                            </div>
                            <div class="content">
                                Activate Whatsapp
                                Live Chat & Get
                                <b>2X</b>
                                more view
                            </div>
                        </div>
                        <a href="#" class="btn btn-outline-success d-inline-block text-end">Activate</a>

                    </div>
                    <div class="swiper-slide slide">
                        <div>
                            <div class="img-container">
                                <img src="assets/img/star_icon.svg" alt="">
                            </div>
                            <div class="content">
                                Activate Whatsapp
                                Live Chat & Get
                                <b>2X</b>
                                more view
                            </div>
                        </div>
                        <a href="#" class="btn btn-outline-success d-inline-block text-end">Activate</a>

                    </div>
                    <div class="swiper-slide slide">
                        <div>
                            <div class="img-container">
                                <img src="assets/img/star_icon.svg" alt="">
                            </div>
                            <div class="content">
                                Activate Whatsapp
                                Live Chat & Get
                                <b>2X</b>
                                more view
                            </div>
                        </div>
                        <a href="#" class="btn btn-outline-success d-inline-block text-end">Activate</a>

                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
