<div class="row my-4">
    <div class="col-12">
        <div class="upgrade-ads-container shadow">
            <div class="header">
                <div class="widget-title-1">
                    Upgraded Ads
                </div>

                <div class="d-flex controls">
                    <span class="prev-upgrade me-1">
                        <i class="bi bi-chevron-left"></i>
                    </span>
                    <span class="next-upgrade">
                        <i class="bi bi-chevron-right"></i>
                    </span>
                </div>

            </div>

            <div class="swiper upgrade-swiper">
                <div class="swiper-wrapper">

                    {% for i in (1...4) %}
                    <div class="swiper-slide">

                        <div class="img-box d-flex flex-column flex-lg-row align-items-lg-center">
                            <img src="https://picsum.photos/id/19/220/120" alt="" class="img-fluid object-fit-cover">
                            <div>
                                <div class="widget-title-2 mb-1">
                                    Elegant Luxury & Modern brand new house
                                </div>
                                <div class="location-label">
                                    <i class="bi bi-geo-alt-fill"></i>
                                    <span class="widget-label">
                                        No.150, Anura Mawatha, Nugegoda
                                    </span>
                                </div>
                            </div>
                        </div>
                        <hr>

                        <div class="row">
                            <div class="col-12 col-md-7 col-lg-7">
                                <div class="insights justify-content-between d-flex align-items-center">
                                    <div class="widget-title-3">Insights</div>

                                    <div class="btn-group custom-dropdown" role="group"
                                         aria-label="Button group with nested dropdown">
                                        <select class="form-select form-select-sm" aria-label=".form-select-sm example">
                                            <option selected>Last 7 Days</option>
                                            <option value="1">One</option>
                                            <option value="2">Two</option>
                                            <option value="3">Three</option>
                                        </select>
                                        <button type="button" class="btn">
                                            <i class="bi bi-caret-down-fill"></i>
                                        </button>
                                    </div>
                                </div>

                                <div class="impressions">
                                    <div>
                                        <span class="imgBox">
                                            <img src="/assets/img/persion-circle.svg" alt="">
                                        </span>
                                        <span class="widget-label">Views
                                        <img src="/assets/img/info-circle.svg" alt="" class="img-fluid">
                                        </span>
                                        <span class="count">
                                            256k
                                        </span>
                                        <div class="res">
                                            <i class="bi bi-arrow-up"></i>
                                            37.8% this week
                                        </div>
                                    </div>
                                    <span></span>
                                    <div>
                                        <span class="imgBox">
                                            <img src="/assets/img/upDown.svg" alt="">
                                        </span>
                                        <span class="widget-label">Views
                                        <img src="/assets/img/info-circle.svg" alt="" class="img-fluid">
                                        </span>
                                        <span class="count">
                                            256k
                                        </span>
                                        <div class="res">
                                            <i class="bi bi-arrow-up"></i>
                                            37.8% this week
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="col-12 col-md-5 col-lg-5 btn-section">

                                <a href="#" class="btn btn-green">
                                    <img src="/assets/img/rocket.svg" alt="">
                                    <div>
                                        <div>Boost This AD Now</div>
                                        <span>(Get 5x time Leads)</span>
                                    </div>
                                </a>

                                <a href="#" class="btn btn-d-green">
                                    <img src="/assets/img/photo.svg" alt="">
                                    <div>
                                        <div>Insert photo</div>
                                        <span>(Get 5x time Leads)</span>
                                    </div>
                                </a>

                                <a href="#" class="btn btn-d-green">
                                    <img src="/assets/img/low_price.svg" alt="">
                                    <div>
                                        <div>lower price</div>
                                        <span>(Get 5x time Leads)</span>
                                    </div>
                                </a>


                            </div>

                        </div>


                    </div>
                    {% endfor %}

                </div>

            </div>
        </div>
    </div>
</div>