<div class="voucher-slide-item d-none d-lg-block">
    <div class="progress-slider-card">
        <div
                class="d-flex justify-content-between align-items-center"
        >
            <span class="title"> Voucher Expiring! </span>
            <a href="#" class="btn btn-red">
                <img src="./assets/img/danger.svg" alt=""/>
                6 Days Left!</a
            >
        </div>
        <div class="voucher-content">
            <div>
                <div class="code">Voucher code: <span>#LPW324</span></div>
                <div class="price"><span>Rs. 5000</span> Remaining</div>
                <div class="expire">Expiring: Aug 31 2024</div>
            </div>
            <a href="#" class="btn btn-green">Redeem Now</a>
        </div>
        <a href="#" class="btn btn-primary">
            Available Options
            <i class="bi bi-caret-right-fill"></i>
        </a>
    </div>
</div>
