.btn-primary {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  color: #FFFFFF;
  letter-spacing: 0.07px;
  line-height: 20px;
  background-color: #1A73E8;
}

.btn-red, .btn-red:hover, .btn-red:focus {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 11px;
  letter-spacing: 0.2px;
  color: #ffffff;
  background: #e13d44;
  border-radius: 10px;
  display: inline-flex;
  justify-content: center;
  align-items: center;

  img {
    margin-right: 7px;
  }
}

.btn-green, .btn-green:focus, .btn-green:hover {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  color: #fafafb;
  background: #009432;
  border-radius: 8px;
}

.btn-verify {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 24px;
  background: #ecf9f3;
  border-radius: 10px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  text-align: center;
  color: #009432;
}

.btn-link {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  color: #009432;
  letter-spacing: 0.07px;
  line-height: 20px;
  text-decoration: none;
  display: flex;
  justify-content: space-between;
  align-items: center;

  i {
    margin-left: 7px;
  }

  &:hover {
    color: #009432;
  }
}

.widget-title-1 {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  color: #2F2F35;
  letter-spacing: 0.2px;
  line-height: 1.2;

  @media (max-width: 767.98px) {
    font-size: 16px;
  }
}

.widget-title-2 {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  color: #2F2F35;
  letter-spacing: 0.2px;
  line-height: 1.2;

  @media (max-width: 767.98px) {
    font-size: 14px;
  }
}

.widget-title-3 {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  color: #2F2F35;
  letter-spacing: 0.2px;
  line-height: 1.2;
}

.widget-label {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 13px;
  color: #696974;
  letter-spacing: 0.1px;
  line-height: 1.2;
}

.controls {
  justify-content: end;
  align-items: center;

  span {
    width: 28px;
    height: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: #F7FAFC;

    -webkit-box-shadow: 0 0 11px 0 #b5b5b5;
    -moz-box-shadow: 0 0 11px 0 #b5b5b5;
    box-shadow: 0 0 11px 0 #b5b5b5;

    i:before {
      //color: #92929D;
      color: #009432;

      font-weight: 900 !important;
    }
  }

  span.swiper-button-disabled {
    background-color: #FFFFFF;
    opacity: 20%;
  }
}

.shadow {
  box-shadow: 0 0 1px 0 rgba(12, 26, 75, 0.24), 0 3px 8px -1px rgba(50, 50, 71, 0.05);
}

.location-label {
  display: flex;
  align-items: center;
  line-height: 16px;

  i {
    color: #16A05F;
    margin-right: 4px;
    font-size: 14px;
  }
}

.custom-dropdown {
  position: relative;

  .form-select {
    --bs-form-select-bg-img: none;
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    color: #171725;
    letter-spacing: 0.2px;
    padding: 10px 53px 10px 12px;
    line-height: 1;

    &:focus {
      box-shadow: none;
      outline: none;
    }
  }

  .btn {
    position: absolute !important;
    padding: 0;
    width: 29px;
    height: 100%;
    right: 0;
    bottom: 0;
    border-left: 1px solid #E2E2EA;
    pointer-events: none;
    cursor: pointer;

    i {
      font-size: 12px;
    }
  }
}

.price-content {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  color: #696974;
  letter-spacing: 0.1px;
  line-height: 1.1;
  margin-bottom: 0;

  b {
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    color: #009432;
    letter-spacing: 0.2px;
  }
}

.color-primary {
  color: #1a73e8 !important;
}


// Define your color map
$colors: (
        wap: #27885D,
        platinum: #7A7F86,
        featured: #D5AA55,
        views: #3DD598,
        hot-deal: #B2282E,
        urgent-sale: #EECF50,
        page-no: #E13D44
  // Add more colors as needed
);

// Iterate through the color map to generate classes
@each $name, $color in $colors {
  .bg-#{$name} {
    background-color: $color !important;
  }
  .text-#{$name} {
    color: $color;
  }
  .border-#{$name} {
    border-color: $color;
  }
}
