body {
  background-color: #f7fafc;
}

.circle_progress {
  width: 70px;
  height: 70px;
  position: relative;
}

#container {
  margin: 20px;
  width: 200px;
  height: 200px;
}

.hero-container {
  background-color: #cbd7e0;
  border-radius: 20px;

  @media (min-width: 992px) {
    padding: 12px 24px;
  }

  @media (max-width: 991.98px) {
    //padding: 12px;
  }

  @media (max-width: 767.98px) {
    border-radius: 0;
    margin: 0 -12px;
    padding: 0;
  }

  .progress-swiper-container {
    position: relative;

    .progress-swiper {
      .progressbar-text {
        font-family: "Inter", sans-serif;
        font-optical-sizing: auto;
        font-weight: 700;
      }

      .swiper-slide {
        width: auto;

        .progress-slider-card {
          background-color: #fff;
          border: 1px solid #e2e2ea;
          padding: 32px 12px 8px;
          border-radius: 16px;
          width: 240px;
          height: 195px;
          display: flex;
          flex-direction: column;
          justify-content: space-between;

          @media (max-width: 575.98px) {
            // width: auto;
            // max-width: 100%;
          }

          .col {
            padding-left: 15px;

            p {
              font-style: normal;
              font-size: 14px;
              line-height: 17px;
              letter-spacing: 0.2px;
              color: #2f2f35;
              //margin-bottom: 4px;
              font-family: "Inter", sans-serif;
              font-optical-sizing: auto;
              font-weight: 600;
            }

            span.num {
              font-style: normal;
              font-weight: 700;
              font-size: 18px;
              letter-spacing: 0.1px;
              color: #0062ff;
              line-height: 1;
              font-family: "Inter", sans-serif;
              font-optical-sizing: auto;
            }

            span.text {
              font-style: normal;
              font-weight: 500;
              font-size: 13px;
              letter-spacing: 0.1px;
              color: #696974;
              line-height: 16px;
              font-family: "Inter", sans-serif;
              font-optical-sizing: auto;
              margin: 0 0 0 8px;
            }

            .expire {
              font-size: 12px;
              font-family: "Inter", sans-serif;
              color: #e23d44;
              font-weight: 400;
            }
          }

          .btn-primary {
            display: flex;
            justify-content: space-between;
            align-items: center;
          }
        }
      }

      .boosts-slide {
        span.num {
          color: #ff974a !important;
        }
      }

      .hotdeal-slider {
        .circle_progress {
          display: flex;
          justify-content: center;
          align-items: center;
          border: 3px solid rgb(237, 28, 36, 0.1);
          border-radius: 50%;
        }
      }

      .wap-slide {
        span.num {
          color: #009432 !important;
        }
      }
    }

    .swiper-button-next,
    .swiper-button-prev {
      width: 28px;
      height: 28px;
      border-radius: 25px;
      background-color: #f7fafc;
      border: 1px solid #cbd7e0;

      -webkit-box-shadow: 0 0 11px 0 #b5b5b5;
      -moz-box-shadow: 0 0 11px 0 #b5b5b5;
      box-shadow: 0 0 11px 0 #b5b5b5;

      &::after {
        font-size: 14px;
        //color: #92929d;
        color: #009432;
      }
    }

    .swiper-button-prev {
      left: -14px;
    }

    .swiper-button-next {
      right: -14px;
    }
  }
}

.mobile-col {
  @media (max-width: 991.98px) {
    background-color: #cbd7e0;
    padding-top: 12px;
    padding-bottom: 8px;
  }
}

.mobile-progress-container {
  .item {
    background: #ffffff;
    border-radius: 16px;
    box-shadow: 0 0 1px 0 rgba(12, 26, 75, 0.24),
      0 3px 8px -1px rgba(50, 50, 71, 0.05);
    padding: 15px 8px 8px 8px;
    height: 100%;

    .title {
      font-family: "Inter", sans-serif;
      font-style: normal;
      font-weight: 600;
      font-size: 13px;
      color: #2f2f35;
      margin-bottom: 14px;
      line-height: 1.2;
      min-height: 26px;
    }

    .num {
      font-family: "Inter", sans-serif;
      font-style: normal;
      font-weight: 700;
      font-size: 18px;
      color: #171725;
      letter-spacing: 0.09px;
      line-height: 1;
    }

    .label {
      font-family: "Inter", sans-serif;
      font-style: normal;
      font-weight: 500;
      font-size: 12px;
      color: #696974;
      letter-spacing: 0.1px;
      line-height: 1.2;
    }

    .progress {
      height: 6px;
      margin-top: 5px;
      margin-bottom: 12px;
    }

    .btn-primary {
      border-radius: 10px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      text-align: start;
      font-family: "Inter", sans-serif;
      font-style: normal;
      font-weight: 500;
      font-size: 13px;
      color: #ffffff;
      letter-spacing: 0.06px;
      line-height: 1.3;
    }
  }

  .item.featured {
    .progress-bar {
      background-color: #0062ff;
    }

    .progress {
      background-color: #e5efff;
    }

    .color {
      color: #0062ff;
    }
  }

  .item.boost {
    .color {
      color: #ff974a;
    }

    .progress-bar {
      background-color: #ff974a;
    }

    .progress {
      background-color: #fff5ed;
    }
  }

  .item.deals {
    .title {
      margin-bottom: 8px;
    }

    .img-box {
      width: 50px;
      height: 50px;
      border-radius: 50%;
      border: 3px solid rgba(237, 28, 36, 0.1);
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 11px;
    }

    .num {
      color: #ed1c24;
      margin-bottom: 3px;
    }
  }

  .item.wap {
    .color {
      color: #53bc77;
    }

    .progress-bar {
      background-color: #53bc77;
    }

    .progress {
      background-color: #e8f3e8;
    }
  }

  .item.voucher {
    padding: 14px 12px !important;

    .title {
      font-family: "Inter", sans-serif;
      font-style: normal;
      font-weight: 600;
      font-size: 14px;
      color: #2f2f35;
      letter-spacing: 0.2px;
      margin-bottom: 0;
      min-height: auto;
    }

    .voucher-content {
      background: #e3fbf0;
      border-radius: 10px;
      padding: 8px 12px;
      margin: 10px 0;

      display: flex;
      justify-content: space-between;
      align-items: center;

      .code {
        font-family: "Inter", sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 10px;
        letter-spacing: 0.1px;
        color: #92929d;

        span {
          font-weight: 600;
        }
      }

      .price {
        font-family: "Inter", sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        letter-spacing: 0.1px;

        color: #696974;

        span {
          font-family: "Inter", sans-serif;
          font-style: normal;
          font-weight: 700;
          font-size: 14px;
          letter-spacing: 0.1px;
          color: #50505a;
        }
      }

      .expire {
        font-family: "Inter", sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 10px;

        letter-spacing: 0.1px;

        color: #92929d;
      }
    }
  }
  .light-widget.mb-3 {
    margin-bottom: 8px !important;
  }

  .expire {
    font-size: 12px;
    font-family: "Inter", sans-serif;
    color: #e23d44;
    font-weight: 400;
    margin-top: 4px;
    margin-bottom: 2px;
  }
}

.agent-sec-col {
  @media (max-width: 767.98px) {
    background-color: #e2eaef;
  }
}

.mobile-right-section {
  background-color: #f7fafc;
  padding: 0 12px 12px 12px;
}

.agent-sec-container {
  background: #ffffff;
  border-radius: 20px;
  //border: 1px solid #e2e2ea;
  padding: 24px 12px;

  @media (max-width: 767.98px) {
    margin-top: 12px;
    margin-bottom: 12px;
  }

  .profile-info-sec {
    .profile-img-container {
      width: 72px;
      height: 72px;

      position: relative;

      .profile {
        border: 2px solid #d5aa55;
        border-radius: 50%;
        max-width: 100%;
        object-fit: cover;
        width: 100%;
        height: 100%;
        overflow: hidden;
      }

      .edit-icon-container {
        position: absolute;
        top: 0;
        right: 0;
        cursor: pointer;

        input[type="file"] {
          display: none;
        }
      }
    }

    .membership {
      border-radius: 16px;
      background: rgb(213, 170, 85);
      display: inline-flex;
      justify-content: center;
      align-items: center;
      padding: 1px 6px;
      margin-top: 3px;

      span {
        font-family: "Inter", sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 12px;
        letter-spacing: 0.1px;
        text-transform: uppercase;

        color: #ffffff;
        margin-left: 3px;
      }
    }

    .info {
      margin-left: 20px;

      @media (max-width: 991.98px) {
        margin-left: 0;
        margin-top: 12px;
      }

      .titles {
        font-family: "Inter", sans-serif;
        font-style: normal;
        font-weight: 600;
        line-height: 120%;
        letter-spacing: 0.2px;
        color: #2f2f35;
        font-size: 20px;

        @media (max-width: 767.98px) {
          font-size: 16px;
        }

        .name {
          color: #1dbf73;
          font-size: 18px;

          @media (max-width: 767.98px) {
            font-size: 13px;
          }
        }
      }

      .desc {
        font-family: "Inter", sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        letter-spacing: 0.1px;

        color: #696974;
        margin-top: 6px;

        @media (max-width: 767.98px) {
          font-size: 12px;
        }
      }
    }
  }

  hr {
    margin: 14px 0 !important;
    color: #edf2f7;
    border-color: #edf2f7;
    opacity: 1;
  }

  .score-chart-container {
    padding-top: 20px;
    background: #f7fafc;
    border-radius: 14px;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    position: relative;
    padding-bottom: 15px;

    .title {
      font-family: "Inter", sans-serif;
      font-style: normal;
      font-weight: 600;
      font-size: 18px;
      color: #2f2f35;
      letter-spacing: 0.26px;
      text-align: center;

      @media (max-width: 767.98px) {
        font-size: 14px;
      }
    }

    svg {
      max-width: 100%;
      height: auto;
    }

    .score-text {
      background: #fdcf43;
      border-radius: 10.4px;
      font-family: "Inter", sans-serif;
      font-style: normal;
      font-weight: 600;
      font-size: 15.6px;
      color: #000000;
      letter-spacing: 0.26px;
      padding: 6px 11px;
      position: absolute;
      bottom: 15px;
    }
  }

  .list-col {
    @media (max-width: 767.98px) {
      order: 1;
    }
  }

  .agent-score-container {
    @media (min-width: 992px) {
      margin-top: -85px;
    }

    .title {
      margin-bottom: 20px;
    }

    .score-list-sec {
      position: relative;
      display: inline-flex;
      flex-direction: column;

      .more {
        position: absolute;
        bottom: 0;
        width: 100%;
        background-image: linear-gradient(
          180deg,
          rgba(255, 255, 255, 0) 0%,
          rgba(255, 255, 255, 0.78) 43%,
          #ffffff 100%
        );
        padding-top: 15px;
        text-align: center;
        display: none;

        a {
          cursor: pointer;
          font-family: "Inter", sans-serif;
          font-size: 13px;
          letter-spacing: 0.06px;
          font-weight: 500;
        }
      }

      @media (max-width: 767.98px) {
        max-height: 115px;
        overflow: hidden;
        .more {
          display: block;
        }
      }

      .score-list-item {
        display: flex;
        align-items: center;
        margin-bottom: 16px;
        justify-content: space-between;

        .content {
          padding-left: 10px;
          padding-right: 10px;

          div {
            font-family: "Inter", sans-serif;
            font-style: normal;
            font-weight: 600;
            font-size: 14px;
            letter-spacing: 0.2px;
            color: #2f2f35;
            line-height: 1.1;
            margin-bottom: 4px;
          }

          span {
            font-family: "Inter", sans-serif;
            font-style: normal;
            font-weight: 500;
            font-size: 13px;
            letter-spacing: 0.1px;
            color: #696974;
            display: inline-block;
            line-height: 1.1;

            @media (max-width: 767.98px) {
              font-size: 12px;
            }
          }
        }

        .btn-verify {
          min-width: max-content;
        }
      }

      .score-list-item:last-child {
        margin-bottom: 0;
      }
    }

    .view-all {
      max-height: none;

      .more {
        display: none;
      }
    }
  }

  .tire-container {
    background-color: #e1eaf1;
    padding: 20px 15px 10px;
    border-radius: 14px;
    width: 100%;

    .memberships {
      .row {
        --bs-gutter-x: 6px;

        div {
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;

          .name {
            font-family: "Inter", sans-serif;
            font-style: normal;
            font-weight: 600;
            font-size: 13px;
            color: #000000;
            letter-spacing: 0.1px;
            text-align: center;
            line-height: 1;
            margin-bottom: 2px;
          }

          .label {
            font-family: "Inter", sans-serif;
            font-style: normal;
            font-weight: 500;
            font-size: 11px;
            color: #696974;
            letter-spacing: 0.1px;
            text-align: center;
            line-height: 1;
          }
        }
      }
    }

    .progress-container {
      position: relative;

      .progress {
        background-color: #c1d2df;
      }

      .progress-bar {
        background-color: #1dbf73;
      }

      .check {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 20px;
        height: 20px;
        background-color: #eef3f6;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;

        svg {
          color: #1dbe73;
          width: 16.25px;
          height: 16.25px;
          border-radius: 50%;
        }
      }

      .check-inactive {
        background-color: #c1d2df;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
      }

      .active {
        background-color: #1dbf73;
      }

      .start {
        left: 15%;
        transform: translate(-16.5%, -50%);
      }

      .middle {
        left: 50%;
        transform: translate(-50%, -50%);
      }

      .end {
        left: 85%;
        transform: translate(-85%, -50%);
      }
    }

    .btn-primary {
      font-size: 13px;
      letter-spacing: 0.06px;
    }
  }
}

.product-update-mobile {
  background-color: #e2eaef;
  padding-bottom: 12px;
}

.voucher-slide-item {
  .progress-slider-card {
    padding: 14px 12px !important;
    background-color: #fff;
    border: 1px solid #e2e2ea;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    margin-bottom: 16px;

    .title {
      font-family: "Inter", sans-serif;
      font-style: normal;
      font-weight: 600;
      font-size: 14px;
      line-height: 17px;
      letter-spacing: 0.2px;
      color: #2f2f35;
    }

    .voucher-content {
      background: #e3fbf0;
      border-radius: 10px;
      padding: 8px 12px;
      margin: 10px 0;

      display: flex;
      justify-content: space-between;
      align-items: center;

      .code {
        font-family: "Inter", sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 10px;
        letter-spacing: 0.1px;
        color: #92929d;

        span {
          font-weight: 600;
        }
      }

      .price {
        font-family: "Inter", sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        letter-spacing: 0.1px;

        color: #696974;

        span {
          font-family: "Inter", sans-serif;
          font-style: normal;
          font-weight: 700;
          font-size: 14px;
          letter-spacing: 0.1px;
          color: #50505a;
        }
      }

      .expire {
        font-family: "Inter", sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 10px;

        letter-spacing: 0.1px;

        color: #92929d;
      }
    }
  }
}

.update-container {
  background: #ffffff;
  border-radius: 20px;
  box-shadow: 0 0 1px 0 rgba(12, 26, 75, 0.24),
    0 3px 8px -1px rgba(50, 50, 71, 0.05);
  padding: 22px 14px 16px;

  @media (max-width: 767.98px) {
    margin-top: 12px;
  }

  .header {
    margin-bottom: 12px;
  }

  a,
  a:hover {
    i {
      color: #92929d;
    }
  }

  .update-swiper {
    .swiper-slide {
      //background: #E3EFFB;
      border: 1px solid #e2e2ea;
      border-radius: 20px;
      padding: 12px;
      //background-image: linear-gradient(to right top, #051937, #004d7a, #008793, #00bf72, #a8eb12);
      background-color: #ffefe6;

      .text {
        font-family: "Inter", sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        color: #000000;
        letter-spacing: 0.2px;
      }
    }

    .wap-slide {
      .content {
        margin-bottom: 15px;
        display: flex;
        gap: 12px;
        align-items: center;

        .text {
          flex: 1;
        }
      }

      .buttons {
        display: flex;
        align-items: center;
        gap: 24px;

        .btn-primary {
          flex: 1;
        }

        .btn-light {
          background-color: #ffffff;
          border-color: #ffffff;
        }
      }
    }
  }

  .update-pagination {
    margin-top: 12px;
    line-height: 6px;
    top: 0;

    .swiper-pagination-bullet {
      background: #92929d;
      border-radius: 20px;
      width: 6px;
      height: 6px;
    }

    .swiper-pagination-bullet-active {
      background: #92929d;
      border-radius: 20px;
      width: 12px;
      height: 6px;
    }
  }
}

.light-widget {
  background: #e1eaf1;
  border: 1px solid #d0d9e1;
  border-radius: 20px;
  box-shadow: 0 0 1px 0 rgba(12, 26, 75, 0.24),
    0 3px 8px -1px rgba(50, 50, 71, 0.05);
  display: flex;
  padding: 16px 12px;
  gap: 12px;

  .img {
    background: #ffffff;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      width: 24px;
      height: 24px;
    }
  }

  .num {
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    color: #ff974a;
    letter-spacing: 0.09px;
    line-height: 1;
  }

  .label {
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    color: #696974;
    letter-spacing: 0.1px;
    line-height: 1.2;
  }

  .content {
    flex: 1;

    .progress {
      height: 6px;
      margin-top: 5px;
      background-color: #c1d2df;
    }
  }

  .widget-title-2 {
    margin-bottom: 2px;
  }
}

.leads-widget {
  background: #eee7c3;
  border: 1px solid #c9c3a2;
  border-radius: 20px;
  padding: 11px 10px 14px;

  .content {
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 15px 12px;
    background: #fffade;
    border-radius: 10px;
    margin: 11px 0;

    > diV {
      display: flex;
      flex-direction: column;
      flex: 1;
      line-height: 1;

      span {
        font-family: "Inter", sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        color: #92929d;
        letter-spacing: 0.1px;
        margin-bottom: 5px;
      }

      span.lead {
        font-family: "Inter", sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        color: #50505a;
        letter-spacing: 0.1px;
        margin-bottom: 0;
      }
    }

    i {
      width: 1px;
      min-height: 36px;
      background-color: #ded8b7;
    }
  }
}

.profile-completion {
  background: #fee6c7;
  border-radius: 20px;
  padding: 24px 10px 20px 24px;

  svg {
    min-width: 75px;
  }

  .widget-label {
    max-width: 180px;
  }
}

.property-val {
  @extend .profile-completion;
  background: #f5edfa;

  > div {
    gap: 12px;
  }
}

.tips-container {
  background: #ffffff;
  padding: 24px;
  border-radius: 20px;

  .tips-swiper {
    .swiper-wrapper {
      @media (max-width: 767.98px) {
        flex-direction: column;
        height: 312px;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: start;
        .swiper-slide {
          height: 150px;
        }
      }

      @media (max-width: 575.98px) {
        height: 345px;

        .swiper-slide {
          height: 165px;
        }
      }
    }
  }

  .slide {
    box-shadow: 0 0 1px 0 rgba(12, 26, 75, 0.24),
      0 3px 8px -1px rgba(50, 50, 71, 0.05);
    background: #f7fafc;
    border: 1px solid #e2e2ea;
    border-radius: 20px;
    padding: 24px 20px 14px 20px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: end;

    > div {
      gap: 12px;
      display: flex;
      align-items: center;
      width: 100%;
    }

    .img-container {
      background: #ffffff;
      width: 52px;
      height: 52px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      padding: 10px;
      min-width: 52px;

      img {
        max-width: 100%;
        width: 100%;
        height: auto;
      }
    }

    .content {
      font-family: "Inter", sans-serif;
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      color: #000000;
      letter-spacing: 0.2px;
      line-height: 1.2;
      flex: 1;

      b {
        font-family: "Inter", sans-serif;
        font-style: normal;
        font-weight: 700;
        color: #16a05f;
      }
    }
    .btn {
      @extend .btn-link;
      //background-color: white;
      &:hover {
        color: #ffffff;
      }
    }
  }
}

.performance-chart-parent {
  @media (max-width: 991.98px) {
    background: #c9d5df;
  }
}

.performance-chart-container {
  background-color: #ffffff;
  padding: 24px;
  border-radius: 20px;
  @media (max-width: 767.98px) {
    padding: 14px;
  }

  .widget-title-1 {
    margin-bottom: 12px;
  }

  //.btn-group {
  //  position: relative;
  //
  //  .form-select {
  //    --bs-form-select-bg-img: none;
  //    padding-left: 12px;
  //    font-family: Inter-Medium, sans-serif;
  //    font-size: 12px;
  //    color: #171725;
  //    letter-spacing: 0.2px;
  //  }
  //
  //  .btn {
  //    position: absolute !important;
  //    padding: 0;
  //    width: 29px;
  //    height: 100%;
  //    right: 0;
  //    bottom: 0;
  //    border-left: 1px solid #E2E2EA;
  //    pointer-events: none;
  //    cursor: pointer;
  //
  //    i {
  //      font-size: 12px;
  //    }
  //  }
  //}

  .chart-header {
    padding: 16px;
    display: flex;
    gap: 12px;
    background: #e1eaf1;
    border-radius: 12px 12px 0 0;
    margin-top: 12px;
    border-bottom: 2px solid #009432;
    align-items: center;

    > div {
      span {
        font-family: "Inter", sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        color: #83bf6e;
        letter-spacing: -0.14px;
        line-height: 1.1;
        display: flex;
        margin-top: 1px;
        align-items: center;
      }
    }
  }

  .chart-container {
    background-color: #f7fafc;
    padding: 25px 15px 10px 15px;
    border-radius: 0 0 12px 12px;

    .title-container {
      margin-bottom: 20px;

      .title {
        font-family: "Inter", sans-serif;
        font-weight: 600;
        font-size: 12px;
        color: #171725;
        letter-spacing: 0.1px;
      }
      .desc {
        font-family: "Inter", sans-serif;
        font-weight: 500;
        font-size: 10px;
        color: #696974;
        letter-spacing: 0.1px;
        line-height: 11px;
      }
    }

    .chart-box {
      height: 375px;

      @media (max-width: 575.98px) {
        height: 225px;
      }
    }

    .chart-box-timeline {
      height: 140px;
      margin-top: 20px;

      @media (max-width: 575.98px) {
        // height: 200px;
      }
    }

    .custom-legends {
      gap: 12px;

      .item {
        display: flex;
        align-items: center;

        span {
          width: 12px;
          height: 12px;
          background-color: #e2e2e3;
          display: inline-block;
          margin-right: 6px;
        }

        .long {
          width: 19px;
          height: 3px;
        }

        font-family: "Inter", sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        color: #6f767e;
        letter-spacing: 0.1px;
      }
    }
  }
}

.upgrade-ads-container {
  background: #ffffff;
  border-radius: 20px;
  padding: 24px;

  .header {
    margin-bottom: 20px;
    display: flex;
    align-items: center;

    .widget-title-1 {
      flex: 1;
    }
  }

  .upgrade-swiper {
    .swiper-slide {
      background: #f7fafc;
      border: 1px solid #cbd7e0;
      border-radius: 18px;
      padding: 12px;
    }

    .img-box {
      img {
        width: 160px;
        border-radius: 12px;
        margin-right: 20px;

        @media (max-width: 991.98px) {
          width: 100%;
          margin-right: 0;
          margin-bottom: 12px;
          border-radius: 12px;
        }
      }

      div {
        flex: 1;
      }
    }

    hr {
      border: 1px solid rgba(226, 226, 234, 0.4);
    }

    .insights {
      margin-bottom: 12px;
    }

    .btn-section {
      .btn {
        display: flex;
        align-items: center;
        line-height: 12px;
        padding: 14px 16px;
        margin-bottom: 14px;

        img {
          margin-right: 10px;
          width: 20px;
          height: auto;
        }

        > div {
          div {
            font-family: "Inter", sans-serif;
            font-style: normal;
            font-weight: 600;
            font-size: 12px;
            color: #ffffff;
            letter-spacing: 0;
            line-height: 12px;
            margin-bottom: 4px;
            text-align: left;
          }

          span {
            font-family: "Inter", sans-serif;
            font-style: normal;
            font-weight: 500;
            font-size: 12px;
            color: #ffffff;
            letter-spacing: 0;
            line-height: 12px;
            display: block;
            text-align: left;
          }
        }
      }

      .btn-d-green {
        background: #223b2f;
      }

      .btn:last-child {
        margin-bottom: 0;
      }
    }

    .accordion {
      .accordion-header {
        border: 0 !important;

        .accordion-button {
          background-color: #f7fafc;
          box-shadow: none !important;
          padding: 16px 0;
        }
      }

      .accordion-body {
        background-color: #f7fafc !important;

        padding: 0;
      }
    }
    .impressions {
      background: #ffffff;
      border-radius: 12px;
      padding: 12px;
      display: flex;
      gap: 24px;

      @media (max-width: 767.98px) {
        margin-bottom: 12px;
      }

      > div {
        flex: 1;
      }

      > span {
        width: 1px;
        background-color: #edf2f7;
        height: 100%;
        min-height: 132px;
      }

      div {
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: start;

        .imgBox {
          width: 32px;
          height: 32px;
          border-radius: 50%;
          display: flex;
          align-items: center;
          justify-content: center;
          margin-bottom: 12px;

          img {
            width: 16px;
            height: auto;
            max-width: 100%;
          }
        }

        .imgBox:nth-child(1) {
          background: #b5e4ca;
        }

        .widget-label {
          color: #2f2f35;
          display: flex;
          align-items: center;

          img {
            margin-left: 5px;
          }
        }

        .count {
          font-family: "Inter", sans-serif;
          font-style: normal;
          font-weight: 600;
          font-size: 24px;
          color: #1a1d1f;
          letter-spacing: -0.72px;
          line-height: 48px;
          margin-top: 8px;
          margin-bottom: 8px;
        }

        .res {
          font-family: "Inter", sans-serif;
          font-style: normal;
          font-weight: 500;
          font-size: 11px;
          color: #83bf6e;
          letter-spacing: -0.11px;
          line-height: 16px;
          display: flex;
          align-items: center;
          flex-direction: row;

          i {
            margin-right: 4px;
          }
        }
      }
    }
  }
}

.trending-container {
  background-color: #ffffff;
  border-radius: 20px;
  padding: 24px 24px 42px;

  .widget-title-2 {
    color: #696974;
    letter-spacing: 0.1px;
    display: flex;
    align-items: center;
    margin: 12px 0;

    img {
      margin-right: 6px;
      width: 20px;
      height: auto;
    }

    .form-select {
      font-family: "Inter", sans-serif;
      font-weight: 600;
      font-size: 14px;
      color: #696974;
      letter-spacing: 0.1px;
    }
  }

  .controls {
    margin-top: 0 !important;
  }

  .desc {
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    color: #696974;
    letter-spacing: 0.1px;

    @media (max-width: 767.98px) {
      font-size: 13px;
    }

    b {
      font-family: "Inter", sans-serif;
      font-style: normal;
      font-weight: 600;
      font-size: 16px;
      color: #1dbe73;
      letter-spacing: 0.1px;
    }
  }

  .swiper {
    .swiper-slide {
      .card {
        background: #f7fafc;
        border: 1px solid #cbd7e0;
        border-radius: 12px;
        padding: 6px;

        .card-img-top {
          border-radius: 8px;
        }

        .card-body {
          padding: 0;
          margin-top: 16px;

          .icons {
            display: flex;
            align-items: center;

            ion-icon,
            img {
              margin-right: 6px;
              font-size: 20px;
              color: #696974;
            }

            img {
              width: 20px;
              height: auto;
            }
          }

          p {
            font-family: "Inter", sans-serif;
            font-style: normal;
            font-weight: 400;
            font-size: 13px;
            color: #696974;
            letter-spacing: 0.2px;
            margin-bottom: 12px;
            margin-top: 12px;

            b {
              color: #009432;
            }
          }

          .widget-title-2 {
            color: #2f2f35;
            margin-bottom: 4px;
          }

          .btn-green {
            font-family: "Inter", sans-serif;
            font-style: normal;
            font-weight: 600;
            font-size: 12px;
            color: #ffffff;
            letter-spacing: 0;
            line-height: 12px;
            padding: 12px;
            text-transform: uppercase;

            img {
              margin-right: 10px;
            }
          }
        }
      }
    }
  }
}

.worst-container {
  @extend .trending-container;

  .widget-title-1 {
    margin-bottom: 20px;
  }

  .worstSwiper {
    .swiper-slide {
      .card {
        position: relative;

        .overlay {
          background: #e13d44;
          border-radius: 8px 8px 0 0;
          height: 32px;
          display: flex;
          align-items: center;
          padding: 7px 10px;
          font-family: "Inter", sans-serif;
          font-style: normal;
          font-weight: 600;
          font-size: 11px;
          color: #ffffff;
          letter-spacing: 0.2px;
          line-height: 1;

          i {
            margin-right: 7px;
            font-size: 18px;
          }
        }

        .card-img-top {
          border-top-left-radius: 0;
          border-top-right-radius: 0;
        }

        .widget-title-2 {
          margin-top: 0;
        }

        .btn-list {
          background: #ffffff;
          border-radius: 8px;
          padding: 12px;

          .list-group-item {
            padding: 0 0 12px;
            border-bottom: 1px solid #edf2f7;

            p {
              font-family: "Inter", sans-serif;
              font-style: normal;
              font-weight: 500;
              font-size: 14px;
              color: #2f2f35;
              letter-spacing: 0.2px;

              b {
                font-family: "Inter", sans-serif;
                font-style: normal;
                font-weight: 700;
                font-size: 14px;
                color: #1dbf73;
                letter-spacing: 0.2px;
              }
            }

            .btn {
              font-family: "Inter", sans-serif;
              font-style: normal;
              font-weight: 600;
              font-size: 12px;
              color: #fafafb;
              text-align: center;
              padding: 10px;
              width: 100%;
              background: #223b2f;
              border-radius: 8px;
            }
          }

          .list-group-item:last-child {
            border: 0;
            padding-bottom: 0;
          }
        }

        .location-label {
          margin-bottom: 12px;
          margin-top: 12px;
        }
      }
    }
  }
}

.ads-listing-container {
  background: #ffffff;
  border-radius: 20px;

  .listing-header {
    padding: 12px 12px 0;

    .nav {
      @media (max-width: 991.98px) {
        gap: 0;
      }

      .nav-item {
        .nav-link {
          font-family: "Inter", sans-serif;
          font-style: normal;
          font-weight: 500;
          font-size: 14px;
          color: #171725;
          letter-spacing: 0.1px;
          padding: 16px 12px;
          border: 0;

          @media (max-width: 767.98px) {
            font-size: 13px;
          }

          @media (max-width: 575.98px) {
            padding: 12px 5px;
          }
        }

        .active {
          font-family: "Inter", sans-serif;
          font-style: normal;
          color: #1dbf73;
          letter-spacing: 0.1px;
          font-weight: 500;
          position: relative;

          &:after {
            content: "";
            position: absolute;
            bottom: 0;
            left: 12px;
            right: 12px;
            height: 3px;
            background: #1dbf73;
            border-radius: 10px 10px 0 0;
          }
        }
      }
    }
  }

  hr {
    border: 1px solid #edf2f7;
    margin-top: 0;
    opacity: 1;
    margin-bottom: 0;
  }

  .listing-body {
    padding: 24px;

    @media (max-width: 767.98px) {
      padding: 20px 14px;
    }

    .card {
      padding: 8px;
      background: #f7fafc;
      border: 1px solid #cbd7e0;
      border-radius: 12px;
      margin-bottom: 16px;

      .right-section {
        border-left: 1px solid #edf2f7;

        @media (max-width: 767.98px) {
          padding-top: 20px;
        }

        .list-group {
          @media (max-width: 767.98px) {
            flex-direction: row;
            flex-wrap: wrap;
            gap: 16px;
          }

          @media (max-width: 575.98px) {
            gap: 6px;
          }
        }
      }

      .card-img {
        border-radius: 8px;
        height: 100%;
        width: 100%;
        object-fit: fill;

        @media (min-width: 768px) {
          max-width: 200px;
        }
      }

      .btn {
        padding: 4px 8px;
        font-family: "Inter", sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 11px;
        color: #ffffff;
        letter-spacing: -0.11px;
        line-height: 16px;
        border-radius: 4px;
        display: inline-flex;
        align-items: center;

        i,
        img {
          margin-right: 8px;
        }

        img {
          height: 16px;
          width: auto;
        }
      }

      .featured {
        background: #3257db;
      }

      .platinum {
        background-color: #1d1f25;
      }

      .hot-deal {
        background-color: #ed1c24;
      }

      .icons {
        display: flex;
        align-items: center;
        margin-top: 12px;

        ion-icon,
        img {
          margin-right: 6px;
          font-size: 20px;
          color: #696974;
        }

        img {
          width: 20px;
          height: auto;
        }
      }

      .price-content {
        margin-top: 12px;
        margin-bottom: 12px;
      }

      .card-title {
        font-family: "Inter", sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        color: #2f2f35;
        letter-spacing: 0.2px;
        margin-bottom: 4px;
      }

      .list-group {
        background: none;

        .list-group-item {
          background: none;
          border: none;
          margin-bottom: 12px;
          padding: 0;

          img {
            margin-right: 12px;

            @media (max-width: 767.98px) {
              margin-right: 6px;
            }
          }

          .text {
            font-family: "Inter", sans-serif;
            font-style: normal;
            font-weight: 500;
            font-size: 12px;
            color: #696974;
            letter-spacing: 0.1px;
            margin-bottom: 2px;
            line-height: 1.1;
          }

          .num {
            font-family: "Inter", sans-serif;
            font-style: normal;
            font-weight: 700;
            font-size: 14px;
            color: #2f2f35;
            letter-spacing: 0.2px;
            line-height: 1;
          }
        }

        .list-group-item:last-child {
          margin-bottom: 0;
        }
      }
    }

    .card:last-child {
      margin-bottom: 0;
    }

    hr {
      margin-top: 12px;
      margin-bottom: 12px;
      border: 1px solid #edf2f7;
      opacity: 1;
    }

    .footer {
      font-family: "Inter", sans-serif;
      font-style: normal;
      font-weight: 500;
      font-size: 12px;
      color: #000000;
      letter-spacing: 0.1px;
      line-height: 15px;
      margin-bottom: 4px;

      span {
        color: #696974;
      }
    }
  }
}

//modals
.tipsModal {
  .modal-content {
    border-color: #edf2f7;
  }

  .modal-header {
    padding: 12px 14px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-color: #edf2f7;

    > div {
      display: flex;
      align-items: center;

      img {
        margin-right: 6px;
      }
    }

    .modal-title {
      @extend .widget-title-2;
    }

    button {
      &:hover,
      &:focus {
        box-shadow: none;
      }
    }
  }

  .modal-body {
    padding: 20px;

    .list-group {
      .list-group-item {
        background: #f7fafc;
        border-radius: 8px;
        border: 0;
        margin-bottom: 16px;
        display: flex;
        align-items: center;

        > div {
          width: 52px;
          height: 52px;
          display: flex;
          align-items: center;
          justify-content: center;
          margin-right: 12px;

          img {
            width: 32px;
            height: auto;
          }
        }

        p {
          text-align: left;
          b {
            font-family: "Inter", sans-serif;
            font-style: normal;
            font-weight: 700;
            font-size: 16px;
            color: #16a05f;
            letter-spacing: 0.2px;
          }
        }
      }

      .list-group-item:last-child {
        margin-bottom: 0;
      }
    }
  }
}
